.rank_list {
  width: 90%;
  margin: 0px 5%;
  .cover {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
  }
  li {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 20px 0px;
    background: #333;
    .list {
      width: 57%;
      margin-left: 0.8rem;
    }
    span {
      margin-right: 0.4rem;
    }
    p {
      width: 90%;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
      margin: 10px 0px;
    }
  }
}
