li {
  list-style: none;
}

.brand {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  position: relative;
  padding: 0.25rem 0px;
  color: #ffcd32;
}

.brand img {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.25rem;
}

.brand .user_icon {
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin: 0.5rem 0px;
}

.navbar a {
  flex: 1;
  text-align: center;
}

.navbar p {
  display: inline-block;
  line-height: 2.5;
  font-size: 0.55rem;
  font-weight: bold;
  color: #fff;
  border-bottom: 1px solid transparent;
}

.navbar .router-link-exact-active p {
  color: #ffcd32;
  border-bottom: 1px solid #ffcd32;
}

.search_input {
  width: 90%;
  height: 1.6rem;
  background: #333;
  margin: 1rem 5%;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.search_input input {
  background-color: transparent;
  border: 0px;
  margin: 0px 0.25rem;
  width: 80%;
  outline: none;
  height: 1.5rem;
  color: #fff;
}

.search_input .icon {
  margin: 0px 0.5rem;
}

.hot_search {
  width: 90%;
  margin: 0.25rem 5%;
}

.hot_search .title, .history_search .title {
  font-size: 0.55rem;
  margin-bottom: 0.5rem;
}

.hot_search ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.hot_search ul li {
  background: #333;
  margin: 0px 0.5rem 0.5rem 0px;
  padding: 0.15rem 0.35rem;
  border-radius: 0.1rem;
  font-size: 0.5rem;
}

.search_result {
  width: 90%;
  margin: 0.25rem 5%;
}

.search_result li {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0.35rem 0px;
}

.search_result li p {
  margin-left: 0.5rem;
  font-size: 0.55rem;
}

.demo-spin-icon-load{
  animation: ani-demo-spin 1.5s linear infinite;
}

@keyframes ani-demo-spin {
  from {
    transform: rotate(0deg)
  }
  50% {
    transform: rotate(180deg)
  }
  to {
    transform: rotate(360deg)
  }
}

.history_search {
  width: 90%;
  margin: 0.5rem 5%;
  position: relative;
}

.history_empty {
  position: absolute;
  right: 0px;
  top: 0px;
}

.history_search li {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.6rem;
  color: #999;
  font-weight: 700;
  padding: 0.2rem 0px;
}

.rank_list {
  width: 90%;
  margin: 0px 5%;
}

.rank_list li {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 20px 0px;
  background: #333;
}

.rank_list .cover {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  background-image: url(http://y.gtimg.cn/music/common/upload/iphone_order_channel/toplist_4_300_213758212.jpg)
}

.rank_list li .list {
  width: 57%;
  margin-left: 0.8rem;
}

.rank_list li span {
  margin-right: 0.4rem;
}

.rank_list li p {
  width: 90%;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  margin: 10px 0px;
}

.singer_list .menu {
  position: fixed;
  right: 0px;
  text-align: center;
  width: 1.2rem;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0.6rem;
  padding: 0.5rem 0px;
  margin-top: 0.5rem;
}

.singer_list .menu ul li {
  margin: 0.15rem 0px;
}

.singer_list .content .title {
  background: #333;
  width: 100%;
  height: 1.5rem;
  line-height: 1.5rem;
}

.singer_list .content .title span {
  margin-left: 0.5rem;
}

.singer_list .content li {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 90%;
  margin: 1rem 5%;
}

.singer_list .portrait {
  background-image: url(https://y.gtimg.cn/music/photo_new/T001R300x300M000002J4UUk29y8BY.jpg?max_age=2592000);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-left: 0.5rem;
}

.singer_list .name {
  margin-left: 1rem;
  font-size: 0.65rem;
}

.recommend_list .title {
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  color: #ffcd32;
  font-size: 0.65rem;
}

.recommend_list li {
  width: 90%;
  margin: 0px 5% 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.recommend_list .content {
  width: 70%;
  margin-left: 0.5rem;
}

.recommend_list .content .name {
  font-size: 0.65rem;
  margin-bottom: 0.5rem;
}

.recommend_list .content .desc {
  font-size: 0.55rem;
  color: #999;
}

.recommend_list .cover {
  width: 3rem;
  height: 3rem;
  background-size: cover;
  background-position: center;
  background-image: url(http://p.qpic.cn/music_cover/PJrGzQib7nia43112ibFrSia1J79EGXnTFFzpb07Uxe3BqXJicFb2NVhibgw/600?n=1);
}

.user_songs {
  width: 90%;
  margin: 0px 5%;
}

.user_songs li {
  margin: 0.75rem;
}

.user_songs .name {
  font-size: 0.7rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.user_songs .desc {
  font-size: 0.6rem;
  color: #aaa;
}

.mini_player {
  width: 100%;
  position: fixed;
  bottom: 0px;
  background: #333;
  padding: 0.35rem 0px;
}

.mini_player .bottom_box {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.mini_player .bottom_box .desc {
  width: 6.5rem;
}

.mini_player .bottom_box .desc .name {
  font-size: 0.7rem;
  font-weight: 700;
}

.mini_player .bottom_box .desc .singer {
  color: #aaa;
  margin-top: 0.2rem;
  font-size: 0.5rem;
}

.mini_player .cover {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-left: 0.5rem;
  background-image: url(https://y.gtimg.cn/music/photo_new/T002R300x300M000003y8dsH2wBHlo.jpg?max_age=2592000);
}

.mini_player .animation {
  animation: rotate 5s linear infinite;
}

@keyframes rotate{
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

.mini_player .bottom_box .icons {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0px 0.5rem;
}

.mini_player .bottom_box .icons .icon {
  display: inline-block;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 1px solid #ffcd32;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.play {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #222;
}

.play .action_btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem 1rem;
}

.play .action_btn .icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ffcd32;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.play .play_header {
  position: relative;
  padding: 0.25rem;
}

.play .middle {
  position: relative;
  overflow: hidden;
}

.play .row {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.play .play_header .back_icon {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
}

.play .play_header .name {
  font-size: 0.85rem;
  font-weight: 600;
}

.play .singer {
  font-size: 0.6rem;
  text-align: center;
  font-weight: 600;
  margin: 0.25rem 0px 0.75rem;
}

.play .cover {
  width: 11rem;
  height: 11rem;
  background-size: cover;
  background-position: center;
  margin: 0.5rem 0px;
  border-radius: 50%;
  background-image: url(https://y.gtimg.cn/music/photo_new/T002R300x300M000003eLHHx1AnY4L.jpg?max_age=2592000);
}

.play .desc {
  text-align: center;
  color: #aaa;
  font-weight: 600;
  margin: 1rem 0px;
  font-size: 0.7rem;
}

.play .progress {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0px 1.2rem;
}

.play .progress .time {
  margin: 0px 0.5rem;
  display: inline-block;
}

.play .progress .wrapper {
  width: 55%;
  height: 4px;
  background: #999;
}

.play .progress .bar {
  min-width: 10px;
  width: 30%;
  background: #ffcd32;
  height: 4px;
  position: relative;
}

.play .progress .bar .btn {
  position: absolute;
  top: -6px;
  right: -5px;
  width: 16px;
  height: 16px;
  border: 3px solid #fff;
  border-radius: 50%;
  background: #ffcd32;
}

.user {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
  height: 100%;
  background: #222;
}

.user_header .back_icon {
  position: absolute;
  top: 0.4rem;
  left: 0.5rem;
}

.user_header .top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  position: relative;
}

.user_header .menu {
  border: 1px solid #333;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.user_header .menu p {
  width: 5rem;
  height: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 2px;
  font-size: 0.6rem;
}

.user_header .menu p.active {
  background: #333;
  color: #fff;
}

.user_header .play_btn {
  width: 6rem;
  height: 1.6rem;
  border: 1px solid #aaa;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 0.8rem auto 1.7rem;
}

.user_header .play_btn span {
  margin-left: 0.5rem;
}

.search_result {
  position: fixed;
  bottom: 0px;
  top: 6.5rem;
  overflow: hidden;
}

.empty_results {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.empty_results p {
  margin-top: 0.5rem;
}

.show {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #222;
}

.lyric_wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  overflow: scroll;
}

.lyric_wrapper .text {
  margin: 0.35rem 0px;
  font-size: 0.6rem;
  color: #aaa;
}

.lyric_wrapper .current {
  color: #fff;
  font-weight: 900;
  font-size: 0.75rem;
}

.play .dot {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 1.5rem 0px 1rem;
}

.play .dot .inactive {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #aaa;
}

.play .dot .active {
  width: 20px;
  height: 8px;
  border-radius: 4px;
  background: #aaa;
  margin-left: 0.25rem;
}

.info {
  width: 100%;
  height: 40%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.info .filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(7, 17, 27, 0.4);
}

.info .top {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 0.45rem;
}

.info .top .name {
  font-size: 0.8rem;
  font-weight: 800;
}

.info .top .back_icon {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
}

.play_wrapper {
  width: 100%;
  position: absolute;
  bottom: 1rem;
}

.info .play_btn {
  width: 6rem;
  height: 1.6rem;
  border: 1px solid #ffcd32;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  color: #ffcd32;
}

.info .play_btn span {
  margin-left: 0.5rem;
}

.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.3);
}

.list_wrapper {
  position: absolute;
  bottom: 0px;
  background-color: #333;
  color: #aaa;
  width: 100%;
}

.list_wrapper .play_type {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1rem 0.5rem;
}

.list_wrapper .play_type p {
  display: flex;
  align-items: center;
}

.list_wrapper .circle_wrap {
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #ffcd32;
}

.list_wrapper .icon_type {
  width: 30px;
  height: 30px;
}

.list_wrapper .icon_play {
  width: 10px;
  height: 10px;
}

.list_wrapper .scale {
  transform: scale(0.5);
}

.list_wrapper .play_type p .text {
  margin-left: 0.5rem;
}

.list_wrapper ul {
  padding: 0rem 1rem;
}

.list_wrapper ul li {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.6rem 0px;
}

.list_wrapper ul li .title {
  flex: 1;
  margin-left: 0.5rem;
  font-size: 0.7rem;
}

.list_wrapper .action .remove {
  margin-left: 0.25rem;
}

.list_wrapper .btn_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.25rem 0px;
}

.list_wrapper .btn {
  width: 7rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  border: 1px solid #aaa;
  text-align: center;
  line-height: 1.5rem;
}

.list_wrapper .close {
  text-align: center;
  height: 40px;
  line-height: 40px;
  background: #222;
  color: #aaa;
  font-size: 0.7rem;
}

.songs {
  width: 90%;
  margin: 1rem 5% 0px;
}

.songs li {
  margin: 0.75rem 0px;
}

.songs li .title {
  font-size: 0.8rem;
  font-weight: 800;
}

.songs li .desc {
  width: 90%;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  color: #aaa;
  font-size: 0.65rem;
}
